@import '../../styles/scss/master.scss';

.repositoryButton{
    position: absolute;
    width: 414px;
    height: 50px;
    left: 0px;
    top: 687px;
    background: black;

    &__text{
        position: absolute;
        left: 28%;
        right: 13.29%;
        font-family: 'roboto';
        margin-bottom: 15px;
        color: #FFBF00;
    }
}

