.article{

    color: white;

    &__speed-reader{
        position: fixed;
        top: 300px;
        left: 100px;
        animation: fade 4s;
    }

    &__textContainer{
      padding-left: 5px;

      position: absolute;
      width: 410px;
      height: 609px;
      left: 0px;
      top: 82px;

      overflow-y: scroll;
      overflow-x: hidden;

      img{
        width:100%;
        object-fit: cover;
      }

      &--grey{
        overflow-x: hidden;
        width: 410px;
        height:736px;
        background: #3D3D3D;
        color: rgba(255, 255, 255, 0.2);
        a{
          color: rgba(255, 255, 255, 0.2);
        }
        img{
          display: none;
          width:100%;
        object-fit: cover;
        background: rgba(0,255,255, 0.1);
        }
    }
    }
    
    

    &__frame{
        position: fixed; 
        top: 150px;
        animation: fade 2s;
    }
}

@keyframes fade{
      0% {
        opacity: 0;
      }
      100% {
        opacity:100%;
      }
}
