@import '../../styles/scss/master.scss';

.pocketNavTab{
    display: flex;
    height: 39px;

    &__icon{
        margin-top: 14px;
        margin-bottom: 14px;
        margin-left: 18px;
    }

    &__text{
        color: white;

        position: absolute;
    width: 84px;
    left: 48px;
    top: 13px;

    margin-top: 80px;
            
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
    }

    &--toggled{
        background: rgba(196, 196, 196, 0.42);
        height:39px;
    }
}