.number-of-pages{
    position: fixed;
    bottom: 140px;
    left: 80px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: rgba(255, 255, 255, 0.85);
}