@import '../../styles/scss/master.scss';

.feedlyNavTab{
    display: flex;

    &__icon{
        margin-top: 18px;
        margin-bottom: 14px;
        margin-left: 18px;
    }

    &__text{
        color: white;

        position: absolute;
    width: 84px;
    left: 48px;
    top: 17px;

    margin-top: 120px;
            
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
    }

    &--toggled{
        background: rgba(196, 196, 196, 0.42);
    }
}