.articleBottomBar{
    display: flex;
    flex-direction: row;
    position: fixed;
    background: black;
    height: 50px;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    
    &__speed-read{
            font-family: 'roboto';
            margin-bottom: 15px;
            color: #FFBF00;
    }
    &__long-form{
            font-family: 'roboto';
            margin-bottom: 15px;
            color: #FFBF00;
    }
}