@import '../../styles/scss/master.scss';

.repositoryBottomBar{
    position: absolute;
    width: 414px;
    height: 50px;
    left: 0px;
    top: 687px;
    background: black;

   &__icon{
       display: flex;
       justify-content: space-around;
       margin-top: 7px;
   }
}