a{
    text-decoration: none;
    color:white;
    
}

.sidebar{
    margin-top: 80px;
    background:#3D3D3D;
    width: 125px;
    height: 616px;

    &__feedly{
    }

    &__category{
        margin-left: 20px;
        margin-top: 10px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 11px;

        color: rgba(255,255,255,0.75);

        &:hover{
            color:black;
            background: rgba(255, 191, 0, 0.65);
        }
    }
}

.active{
    background: rgba(196, 196, 196, 0.42);
}